<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>后台</title>
    {include file='public/meta'/}
</head>

<body>
    <div class="wrapper">
        <div class="innerpage pageheight">
            <div class="wrapper container-fluid pageheight">
                {include file='media/menu'/}
                <div class="page-content">
                    <div class="bread">
                        <i class="icon-home"></i>
                        <a href="#" class="homelink">首页</a> > 添加新闻源
                    </div>
                    <div class="body">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h2 class="panel-title">添加新闻源</h2>
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <form action="" method='post' enctype="multipart/form-data" class="addagent">
                                        <table class="table table-striped table-hover">
                                            <tr>
                                                <th width='140px'>字段</th>
                                                <th>值</th>
                                            </tr>
                                            <tr>
                                                <td>新闻源标题 <span class="text-danger">*</span></td>
                                                <td>
                                                    <input type="text" class="form-control" name="title" datatype="*3-12" errormsg="3-12个字符" placeholder="4-12个字符">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>参考链接</td>
                                                <td>
                                                    <input type="text" class="form-control" name="url" placeholder="参考文章网址" datatype='url' ignore="ignore">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>频道 <span class="text-danger">*</span></td>
                                                <td>
                                                    <select name="cid" id="" class="form-control" datatype="*">
                                                        <option value>请选择</option>
                                                        {volist name='channel' id='vo'}
                                                        <option value="{$vo.id}">{$vo.channel}</option>
                                                        {/volist}
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>综合门户 <span class="text-danger">*</span></td>
                                                <td>
                                                    <select name="pid" id="" class="form-control" datatype="*">
                                                        <option value>请选择</option>
                                                        {volist name='portal' id='vo'}
                                                        <option value="{$vo.id}">{$vo.portal}</option>
                                                        {/volist}
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>覆盖区域 <span class="text-danger">*</span></td>
                                                <td>
                                                    <select name="zid" id="" class="form-control" datatype="*">
                                                        <option value>请选择</option>
                                                        {volist name='zone' id='vo'}
                                                        <option value="{$vo.id}">{$vo.zonename}</option>
                                                        {/volist}
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>新闻源 <span class="text-danger">*</span></td>
                                                <td>
                                                    <select name="source" id="" class="form-control" datatype="*">
                                                        <option value>请选择</option>
                                                        <option value='1'>百度新闻源</option>
                                                        <option value='2'>百度网页</option>
                                                        <option value='3'>百度最新相关</option>
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>出现位置 <span class="text-danger">*</span></td>
                                                <td>
                                                    <select name="place" id="" class="form-control" datatype="*">
                                                        <option value>请选择</option>
                                                        <option value='1'>首页</option>
                                                        <option value='2'>频道</option>
                                                        <option value='3'>栏目</option>
                                                        <option value='0'>其他</option>
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>价格 <span class="text-danger">*</span></td>
                                                <td>
                                                    <input type="text" class="form-control" name="prize" placeholder="价格，如：5" datatype="*" errormsg="格式为数字类型">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>备注</td>
                                                <td>
                                                    <input type="text" class="form-control" name="remark" placeholder="备注内容">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>状态</td>
                                                <td>
                                                    <div class="radio radio-info radio-inline">
                                                        <input type="radio" id="inlineRadio1" value="1" name="status" checked>
                                                        <label for="inlineRadio1"> 上线 </label>
                                                    </div>
                                                    <div class="radio radio-inline">
                                                        <input type="radio" id="inlineRadio2" value="0" name="status">
                                                        <label for="inlineRadio2"> 下线 </label>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td>
                                                    <button class="btn btn-primary" type="submit">提交</button>
                                                </td>
                                            </tr>
                                        </table>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
