<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>后台</title>
    {include file='public/meta'/}
    <link rel="stylesheet" href="__ADMIN__/umeditor/themes/default/css/umeditor.css">
    <link rel="stylesheet" href="__ADMIN__/css/um-base.css">
    <script src="__ADMIN__/umeditor/third-party/template.min.js"></script>
    <script src="__ADMIN__/umeditor/umeditor.config.js"></script>
    <script src="__ADMIN__/umeditor/umeditor.js"></script>
    <script src="__ADMIN__/umeditor/lang/zh-cn/zh-cn.js"></script>
</head>

<body>
    <div class="wrapper">
        <div class="innerpage pageheight">
            <div class="wrapper container-fluid pageheight">
                {include file='temp/menu'/}
                <div class="page-content">
                    <div class="bread">
                        <i class="icon-home"></i>
                        <a href="#" class="homelink">首页</a> > 添加logo
                    </div>
                    <div class="body" id="app">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h2 class="panel-title">添加logo</h2>
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <form action="" method='post' enctype="multipart/form-data" class="addagent">
                                        <input type="hidden" name='tpl_id' value="{$temp.id}">
                                        <table class="table table-striped table-hover">
                                            <tr>
                                                <th>字段</th>
                                                <th>值</th>
                                            </tr>
                                            <tr>
                                                <td>模板名称</td>
                                                <td>
                                                    <input type="text" value="{$temp.tempname}" disabled class="form-control">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>logo文字名称 <span class="text-danger">*</span></td>
                                                <td>
                                                    <input type="text" class="form-control" name="logo_word" datatype="*" placeholder="文本格式">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <button class="btn btn-warning btn-sm stylebtn" type="button" disabled>设置样式</button>
                                                </td>
                                                <td id="style" class="um-text">logo文字参考效果</td>
                                            </tr>
                                            <tr>
                                                <td>logo链接</td>
                                                <td>
                                                    <input type="text" class="form-control" name="logo_link" placeholder="填写网址">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>logo图片</td>
                                                <td>
                                                    <input type="file" class="form-control" name='logo_img'>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>logo图片alt标签</td>
                                                <td>
                                                    <input type="text" class="form-control" name='logo_img_alt' placeholder="文字描述内容">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>logo图片是否显示</td>
                                                <td>
                                                    <div class="radio radio-info radio-inline">
                                                        <input type="radio" id="inlineRadio1" value="1" name="logo_img_display" checked>
                                                        <label for="inlineRadio1"> 显示 </label>
                                                    </div>
                                                    <div class="radio radio-inline">
                                                        <input type="radio" id="inlineRadio2" value="0" name="logo_img_display">
                                                        <label for="inlineRadio2"> 隐藏 </label>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td>
                                                    <button class="btn btn-primary" type="submit">提交</button>
                                                </td>
                                            </tr>
                                        </table>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
    $(function() {
        //输入框的内容，同步到下面的调整样式中
        $("input[name='logo_word']").keyup(function() {
            $(".stylebtn").attr('disabled', false);
            $("#style").text($(this).val());
        });
        //实例化Um
        $(".stylebtn").click(function() {
            $(this).attr('disabled', true);
            var um = UM.getEditor('style', {
                toolbar: ['forecolor', 'bold', 'italic', 'underline', 'backcolor', 'fontfamily', 'fontsize', 'justifyleft', 'justifycenter', 'justifyright']

            });
        });


        //提交处理
        $(":submit").click(function() {
            if ($("div").is(".edui-container")) {
                UM.getEditor('style').destroy();
                //修改ue生成的表单的name
                $("#style").attr('name', 'font_style').hide();
            }

        });
    });
    </script>
</body>

</html>