<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Dashboard</title>
    {include file='public/meta' /}
</head>

<body>
    {include file='public/loading' /} {include file='public/navbar2'/}
    <div class="main-container container-fluid">
        <div class="page-container">
            {include file='public/tempmenu' /}
            <div class="page-content">
                <div class="page-breadcrumbs">
                    <ul class="breadcrumb">
                        <li>
                            <i class="fa fa-home"></i>
                            <a href="{:url('index/index')}">Home</a>
                        </li>
                        <li class="active">模板列表</li>
                    </ul>
                    <div class="header-buttons">
                        <a class="sidebar-toggler" href="#">
                            <i class="fa fa-arrows-h"></i>
                        </a>
                        <a class="refresh" id="refresh-toggler" href="">
                            <i class="glyphicon glyphicon-refresh"></i>
                        </a>
                        <a class="fullscreen" id="fullscreen-toggler" href="#">
                            <i class="glyphicon glyphicon-fullscreen"></i>
                        </a>
                    </div>
                </div>
                <!-- Page Body -->
                <div class="page-body">
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            <div class="well with-header with-footer">
                                <div class="header bg-palegreen">模板列表</div>
                                <div class="row" style="margin-bottom:20px">
                                    <div class="col-xs-12 col-md-12">
                                        <h5>模板分类</h5></div>
                                    <div class="col-xs-12 col-md-12"><a href="javascript:void(0);" class="btn btn-default">建筑设计</a> <a href="javascript:void(0);" class="btn btn-default">工业站</a> <a href="javascript:void(0);" class="btn btn-default">教育类</a> <a href="javascript:void(0);" class="btn btn-default">科技智能</a> <a href="javascript:void(0);" class="btn btn-default">金融行业</a> <a href="javascript:void(0);" class="btn btn-default">物流行业</a></div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-sm-6 col-xs-12">
                                        <div class="well with-header">
                                            <div class="header bordered-blue">蓝色系企业模板<span class="pull-right">科技智能</span></div>
                                            <div class="dropdown-container"><img src="__ADMIN__/images/temp.jpg" alt=""></div>
                                            <div class="text-right" style="padding-top:10px">
                                                <a href="{:url('edit')}" class="btn btn-primary btn-sm shiny">编辑</a>
                                                <a href="javascript:void(0);" class="btn btn-danger btn-sm shiny">删除</a>
                                            </div>
                                        </div>
                                    </div><div class="col-lg-3 col-sm-6 col-xs-12">
                                        <div class="well with-header">
                                            <div class="header bordered-blue">蓝色系企业模板<span class="pull-right">科技智能</span></div>
                                            <div class="dropdown-container"><img src="__ADMIN__/images/temp.jpg" alt=""></div>
                                            <div class="text-right" style="padding-top:10px">
                                                <a href="{:url('edit')}" class="btn btn-primary btn-sm shiny">编辑</a>
                                                <a href="javascript:void(0);" class="btn btn-danger btn-sm shiny">删除</a>
                                            </div>
                                        </div>
                                    </div><div class="col-lg-3 col-sm-6 col-xs-12">
                                        <div class="well with-header">
                                            <div class="header bordered-blue">蓝色系企业模板<span class="pull-right">科技智能</span></div>
                                            <div class="dropdown-container"><img src="__ADMIN__/images/temp.jpg" alt=""></div>
                                            <div class="text-right" style="padding-top:10px">
                                                <a href="{:url('edit')}" class="btn btn-primary btn-sm shiny">编辑</a>
                                                <a href="javascript:void(0);" class="btn btn-danger btn-sm shiny">删除</a>
                                            </div>
                                        </div>
                                    </div><div class="col-lg-3 col-sm-6 col-xs-12">
                                        <div class="well with-header">
                                            <div class="header bordered-blue">蓝色系企业模板<span class="pull-right">科技智能</span></div>
                                            <div class="dropdown-container"><img src="__ADMIN__/images/temp.jpg" alt=""></div>
                                            <div class="text-right" style="padding-top:10px">
                                                <a href="{:url('edit')}" class="btn btn-primary btn-sm shiny">编辑</a>
                                                <a href="javascript:void(0);" class="btn btn-danger btn-sm shiny">删除</a>
                                            </div>
                                        </div>
                                    </div><div class="col-lg-3 col-sm-6 col-xs-12">
                                        <div class="well with-header">
                                            <div class="header bordered-blue">蓝色系企业模板<span class="pull-right">科技智能</span></div>
                                            <div class="dropdown-container"><img src="__ADMIN__/images/temp.jpg" alt=""></div>
                                            <div class="text-right" style="padding-top:10px">
                                                <a href="{:url('edit')}" class="btn btn-primary btn-sm shiny">编辑</a>
                                                <a href="javascript:void(0);" class="btn btn-danger btn-sm shiny">删除</a>
                                            </div>
                                        </div>
                                    </div>
                                   
                                   
                                </div>
                                <div class="row DTTTFooter">
                                    <div class="col-sm-12">
                                        <div class="dataTables_paginate paging_bootstrap text-right" id="simpledatatable_paginate">
                                            <ul class="pagination">
                                                <li class="prev disabled"><a href="#">Prev</a></li>
                                                <li class="active"><a href="#">1</a></li>
                                                <li><a href="#">2</a></li>
                                                <li><a href="#">3</a></li>
                                                <li><a href="#">4</a></li>
                                                <li><a href="#">5</a></li>
                                                <li class="next"><a href="#">Next</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Page Body -->
            </div>
        </div>
    </div>
    {include file='public/footer' /}
    <script>
    $(window).bind("load", function() {
        InitiateEasyPieChart.init();
        InitiateChartJS.init();
    });
    </script>
</body>
<!--  /Body -->

</html>
