<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>后台</title>
    {include file='public/meta'/}
</head>

<body>
    <div class="wrapper">
        <div class="innerpage pageheight">
            <div class="wrapper container-fluid pageheight">
                {include file='temp/menu'/}
                <div class="page-content">
                    <div class="bread">
                        <i class="icon-home"></i>
                        <a href="#" class="homelink">首页</a> > 模板列表
                    </div>
                    <div class="body">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h2 class="panel-title">模板列表 <a href="{:url('add')}" class="btn btn-info btn-xs">添加</a></h2>
                            </div>
                            <div class="panel-body">
                                <div class="row" style="margin-bottom:15px">
                                    <div class="col-md-12">行业：<a href="{:url('lst')}">不限 </a>　{volist name='industry' id="vo"} <a href="{:url('lst',array('industry_id'=>$vo['id']))}">{$vo.industry} </a> 　{/volist}</div>
                                </div>
                                <div class="row">
                                    {volist name="list" id="vo"}
                                    <div class="col-md-3" style="margin-bottom:15px">
                                        <dl>
                                            <dt><img src="{$vo.thumb}" alt="" class="img-rounded tplimg"></dt>
                                            <dd class="text-center" style="margin-bottom:5px;">
                                                <a href="{:url('tpl/index',array('id'=>$vo['id']))}" class="btn btn-primary btn-xs">浏览</a>
                                                <a href="{:url('temp/edit',array('id'=>$vo['id']))}" class="btn btn-warning btn-xs">编辑</a>
                                                <a href="{:url('temp/editpanel',array('id'=>$vo['id']))}" class="btn btn-default btn-xs">设置</a>
                                            </dd>
                                            <dd class="text-center">{$vo.tempname}</dd>
                                        </dl>
                                    </div>
                                    {/volist}
                                </div>
                                <div class="fr">
                                    {$list->render()}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
