<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>后台</title>
    {include file='public/meta'/}
</head>

<body>
    <div class="wrapper">
        <div class="innerpage pageheight">
            <div class="wrapper container-fluid pageheight">
                {include file='admin/menu'/}
                <div class="page-content">
                    <div class="bread">
                        <i class="icon-home"></i>
                        <a href="#" class="homelink">首页</a> > 管理员编辑
                    </div>
                    <div class="body">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h2 class="panel-title">管理员编辑 <a href="{:url('add')}" class="btn btn-info btn-xs">添加</a></h2>
                            </div>
                            <div class="panel-body">
                                <form class="form-horizontal" role="form" action="" method="post">
                                    <input type="hidden" name="id" value="{$admin.id}">
                                    <div class="form-group">
                                        <label for="username" class="col-sm-2 control-label no-padding-right">所属用户组</label>
                                        <div class="col-sm-6">
                                            <select name="group_id" class="form-control">
                                                {volist name='authGroupRes' id="vo"}
                                                <option {if condition="$vo['id'] eq $groupId" }selected{/if} value="{$vo.id}">{$vo.title}</option>
                                                {/volist}
                                            </select>
                                        </div>
                                        <p class="help-block col-sm-4 red">* 必填</p>
                                    </div>
                                    <div class="form-group">
                                        <label for="username" class="col-sm-2 control-label no-padding-right">管理员名称</label>
                                        <div class="col-sm-6">
                                            <input class="form-control" placeholder="" name="username" value="{$admin.username}" type="text">
                                        </div>
                                        <p class="help-block col-sm-4 red">* 必填</p>
                                    </div>
                                    <div class="form-group">
                                        <label for="group_id" class="col-sm-2 control-label no-padding-right">管理员密码</label>
                                        <div class="col-sm-6">
                                            <input class="form-control" placeholder="" name="password" value="" type="text">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <button type="submit" class="btn btn-default">保存信息</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
