<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>后台</title>
    {include file='public/meta'/}
</head>

<body>
    <div class="wrapper">
        <div class="innerpage pageheight">
            <div class="wrapper container-fluid pageheight">
                {include file='admin/menu'/}
                <div class="page-content">
                    <div class="bread">
                        <i class="icon-home"></i>
                        <a href="#" class="homelink">首页</a> > 管理员列表
                    </div>
                    <div class="body">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h2 class="panel-title">管理员列表 <a href="{:url('add')}" class="btn btn-info btn-xs">添加</a></h2>
                            </div>
                            <div class="panel-body">
                                <table class="table table-bordered table-hover">
                                    <thead class="">
                                        <tr>
                                            <th class="text-center" width="10%">ID</th>
                                            <th class="text-center">用户名称</th>
                                            <th class="text-center">所属用户组</th>
                                            <th class="text-center" width="20%">操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {volist name='adminres' id='admin'}
                                        <tr>
                                            <td align="center">{$admin.id}</td>
                                            <td align="center">{$admin.username}</td>
                                            <td align="center">{$admin.groupTitle}</td>
                                            <td align="center">
                                                <a href="{:url('edit',array('id'=>$admin['id']))}" class="btn btn-primary btn-sm shiny">
                                                    <i class="fa fa-edit"></i> 编辑
                                                </a>
                                                <a href="{:url('del',array('id'=>$admin['id']))}" class="btn btn-danger btn-sm shiny">
                                                    <i class="fa fa-trash-o"></i> 删除
                                                </a>
                                            </td>
                                        </tr>
                                        {/volist}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
