<div class="row index">
    <div class="sidebar col-md-2 pageheight">
        <div class="logo">
            <a href="index/index"><img src="__ADMIN__/images/logo.png" alt="logo"></a>
        </div>
        <ul class="menu">
            <li class="open">
                <a href="#">代理商管理</a>
                <div class="submenu pageheight">
                    <ul>
                        <li>
                            <a href="{:url('agent/lst')}">
                                <span class="title"><i class="icon-list"></i>代理商列表</span>
                                <p>账户信息主要是账户的基本信息展示，主要包括用户名，密码等的设置，修改。账户信息主要是账户的基本信息展示，主要包括用户名，密码等的设置，修改。</p>
                            </a>
                        </li>
                        <li><a href="#">代理商列表</a></li>
                        <li><a href="#">代理商列表</a></li>
                        <li><a href="#">代理商列表</a></li>
                        <li><a href="#">代理商列表</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="#">客户管理</a>
                <div class="submenu pageheight">
                    <ul>
                        <li>
                            <a href="#">
                                <span class="title"><i class="icon-list"></i>代理商列表二</span>
                                <p>账户信息主要是账户的基本信息展示，主要包括用户名，密码等的设置，修改。账户信息主要是账户的基本信息展示，主要包括用户名，密码等的设置，修改。</p>
                            </a>
                        </li>
                        <li><a href="#">代理商列表</a></li>
                        <li><a href="#">代理商列表</a></li>
                        <li><a href="#">代理商列表</a></li>
                        <li><a href="#">代理商列表</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="#">模板管理</a></li>
            <li><a href="#">官网设置</a></li>
            <li><a href="#">新闻动态</a></li>
            <li><a href="#">消息推送</a></li>
            <li><a href="#">退出登录</a></li>
        </ul>
    </div>
    <div class="main col-md-8 pageheight">
        <div class="fullpage">
            <div class="section">
                <div class="heading">
                    <h2>代理商列表</h2>
                    <p>账户信息主要是账户的基本信息展示，主要包括用户名，密码等的设置，修改。账户信息主要是账户的基本信息展示，主要包括用户名，密码等的设置，修改。</p>
                </div>
                <div class="imgbox"><img src="__ADMIN__/images/list1-1.jpg" alt=""></div>
            </div>
            <div class="section">
                <div class="heading">
                    <h2>代理商列表</h2>
                    <p>账户信息主要是账户的基本信息展示，主要包括用户名，密码等的设置，修改。账户信息主要是账户的基本信息展示，主要包括用户名，密码等的设置，修改。</p>
                </div>
                <div class="imgbox"><img src="__ADMIN__/images/list1-1.jpg" alt=""></div>
            </div>
            <div class="section">
                <div class="heading">
                    <h2>代理商列表</h2>
                    <p>账户信息主要是账户的基本信息展示，主要包括用户名，密码等的设置，修改。账户信息主要是账户的基本信息展示，主要包括用户名，密码等的设置，修改。</p>
                </div>
                <div class="imgbox"><img src="__ADMIN__/images/list1-1.jpg" alt=""></div>
            </div>
            <div class="section">
                <div class="heading">
                    <h2>代理商列表</h2>
                    <p>账户信息主要是账户的基本信息展示，主要包括用户名，密码等的设置，修改。账户信息主要是账户的基本信息展示，主要包括用户名，密码等的设置，修改。</p>
                </div>
                <div class="imgbox"><img src="__ADMIN__/images/list1-1.jpg" alt=""></div>
            </div>
        </div>
    </div>
</div>
 