<div class="page-sidebar menu-compact" id="sidebar">
    <ul class="nav sidebar-menu">
        <li class="active">
            <a href="{:url('index/index')}">
                <i class="menu-icon glyphicon glyphicon-home"></i>
                <span class="menu-text"> 控制台 </span>
            </a>
        </li>
        <li>
            <a href="{:url('agent/lst')}">
                <i class="menu-icon fa fa-list"></i>
                <span class="menu-text">代理商列表</span>
            </a>
        </li>
        <li>
            <a href="{:url('agent/add')}">
                <i class="menu-icon fa fa-plus"></i>
                <span class="menu-text">代理商添加</span>
            </a>
        </li>
        <li>
            <a href="{:url('agent/orderlst')}">
                <i class="menu-icon fa fa-list"></i>
                <span class="menu-text">代理商订单列表</span>
            </a>
        </li>
        <li>
            <a href="{:url('agent/buyrecord')}">
                <i class="menu-icon fa fa-money"></i>
                <span class="menu-text">代理商购买记录</span>
            </a>
        </li>
        <li>
            <a href="{:url('agent/upload')}">
                <i class="menu-icon fa fa-cloud-upload"></i>
                <span class="menu-text">代理商文档上传</span>
            </a>
        </li>
    </ul>
    <div class="logout">
        <img src="__ADMIN__/images/user1.jpg" alt="用户头像">
        <a href="#"><span>退出登录</span></a>
    </div>
</div>
<div class="page-summary">
    <div class="userinfo">
        <img src="__ADMIN__/images/user1.jpg" alt="">
        <a href=""><span>jana<br/>个人信息</span></a>
    </div>
    <div class="summary">
        <h2>SUMMARY</h2>
        <div class="summary-count">
            <dl>
                <dt>22</dt>
                <dd>代理数</dd>
            </dl>
             <dl>
                <dt>88</dt>
                <dd>用户数</dd>
            </dl>
        </div>
        <div class="summary-balance">
            <dl>
                <dt>8888.00</dt>
                <dd>账户余额</dd>
            </dl>
        </div>
    </div>
</div>