<div class="page-sidebar menu-compact" id="sidebar">
    <ul class="nav sidebar-menu">
        <li class="active">
            <a href="{:url('index/index')}">
                <i class="menu-icon glyphicon glyphicon-home"></i>
                <span class="menu-text"> 控制台 </span>
            </a>
        </li>
        <li>
            <a href="{:url('all')}">
                <i class="menu-icon fa fa-cog"></i>
                <span class="menu-text">全站设置</span>
            </a>
        </li>
        <li>
            <a href="{:url('contact')}">
                <i class="menu-icon fa fa-phone"></i>
                <span class="menu-text">联系方式</span>
            </a>
        </li>
        <li>
            <a href="{:url('kefu')}">
                <i class="menu-icon fa fa-headphones"></i>
                <span class="menu-text">客服设置</span>
            </a>
        </li>
        <li>
            <a href="{:url('about')}">
                <i class="menu-icon fa fa-file-text"></i>
                <span class="menu-text">关于我们</span>
            </a>
        </li>
        <li>
            <a href="{:url('items')}">
                <i class="menu-icon fa fa-file-text"></i>
                <span class="menu-text">服务条款</span>
            </a>
        </li>
        <li>
            <a href="{:url('footinfo')}">
                <i class="menu-icon fa fa-file-text"></i>
                <span class="menu-text">底部信息</span>
            </a>
        </li>
        <li>
            <a href="{:url('tongji')}">
                <i class="menu-icon fa fa-code"></i>
                <span class="menu-text">统计代码</span>
            </a>
        </li>
         <li>
            <a href="{:url('plug')}">
                <i class="menu-icon fa fa-code"></i>
                <span class="menu-text">插件代码</span>
            </a>
        </li>
    </ul>
</div>
