<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>首页</title>
    {include file='public/meta'/}
</head>

<body class="homepage" id="container">
    <div class="wrapper" id="section1">
        {include file='public/header' /}
        <video id="homevideo" src="__INDEX__/media/animate.mp4" autoplay loop preload>您的浏览器不支持视频播放！</video>
        <div class="main">
            <div id="shape-icosahedron" class="shape"></div>
            <div class="section section1">
                <dl>
                    <dt>极致的互联网建站平台</dt>
                    <dd class="buttonlink row">
                        <a href="#"><span>快速建站</span></a>
                        <a href="#"><span>定制开发</span></a>
                        <a href="#"><span>成为代理</span></a>
                    </dd>
                </dl>
                <a href="#"><img class="down-arrow" src="__INDEX__/images/down-arrow.png" alt="arrow"></a>
            </div>
            <div class="section section2" id="section2">
                <h2>ME</h2>
                <dl>
                    <dt>一个快速建立网站的平台</dt>
                    <dd>quick build websit<span>build a website in 30 minutes</span></dd>
                </dl>
            </div>
            <div class="section section3" id="section3">
                <h2>OUR WORK</h2>
                <div class="index-temp wrapper2">
                    <div class="tempinfo">
                        <dl>
                            <dt>PC端网站模板</dt>
                            <dd class="pc-temp-theme">模板中心 / 春节推荐</dd>
                            <dd class="desc">春节，气温温和，在这个节气的设计上，我们不希望用太多的跳色，以白色为底，奢侈色系辅助，给使用者一种清新自然的感觉。我们在后台大数据发现，春节的白色主调系，能增加用户的浏览时间和访问次数，春节推荐，网站根据季节更改，灵感来源——香奈儿季度官网改变。</dd>
                            <dd class="detail"><a href="#">MORE DETAILS</a></dd>
                        </dl>
                    </div>
                    <div class="swiper-container swiper1">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide"><img src="__INDEX__/images/temp1.jpg"></div>
                            <div class="swiper-slide"><img src="__INDEX__/images/temp2.jpg"></div>
                            <div class="swiper-slide"><img src="__INDEX__/images/temp3.jpg"></div>
                        </div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </div>
                <div class="index-temp wrapper2">
                    <div class="tempinfo">
                        <dl>
                            <dt>手机端网站模板</dt>
                            <dd class="mobile-temp-theme">模板中心 / 手机站推荐</dd>
                            <dd class="desc">手机边框以白色和黑色为主，为了手机站的无边框感，将整个界面的设计做好和手机更好的融合，春节我们推荐以白黑为底，以无边框感来实现界面与手机边框的和谐。</dd>
                            <dd class="detail"><a href="#">MORE DETAILS</a></dd>
                        </dl>
                    </div>
                    <div class="swiper-container swiper2">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide"><img src="__INDEX__/images/tempm1.jpg"></div>
                            <div class="swiper-slide"><img src="__INDEX__/images/tempm2.jpg"></div>
                            <div class="swiper-slide"><img src="__INDEX__/images/tempm3.jpg"></div>
                        </div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </div>
                <div class="buttonlink"><a href="#"><span>模板中心</span></a></div>
            </div>
            <div class="section section7">
                <h3>极致的互联网快速建站平台</h3>
            </div>
            <div class="section section4" id='section4'>
                <h2>OUR VISION</h2>
                <div class="vision">
                    <h3>THE FRENCH AGENCY</h3>
                    <div class="vision-desc">
                        <p>
                            Created in 2011, AgenceMe is a visual identity agency focused on product design. We are experts in web design, mobile application (iOS and Android), impactful presentations under Keynote or Powerpoint and development (app and front-end).
                            <br> Our vision of design in unique and our great creativity is our main strength. Visual identity should be a masterpiece, as powerful and attractive as an object, a landscape, a picture… We are putting an emphasis on the visual harmony and attractiveness. What we enjoy the most is to put together beautiful design and perfect
                        </p>
                        <p>
                            usability to make an interface the most intuitive it can be. Strenghten from our close relationship with the United States, we kept that nice and cheerful way of working and that warmth in relationships. Our priority is give our client full satisfaction and to make them happy, that is the reason we are taking your feedback very carefully and are doing our best to be as swift as we can.
                            <br> as to keep it clear and intuitive while there was a lot of functionalities to put on the same page
                        </p>
                    </div>
                    <div class="buttonlink"><a href="#"><span>我们的博客</span></a></div>
                </div>
            </div>
            <div class="section section5" id='section5'>
                <div class="container-fluid max-width_XL padH_MD padT_MD padB_XXL">
                    <!-- Digital Marketing -->
                    <div class="module module-icon column xs-6 md-3 lg-3">
                        <div class="inner">
                            <a href="#" class="module-image"><img class="img" src="__INDEX__/images/icon-blue-digital-marketing.png" alt="digital_marketing" data-pin-no-hover="true"></a>
                            <div class="popup-content">
                                <p>The digital world is constantly evolving. Keep your brand in the digital forefront with tactics like SEO, SEM and Social Media Marketing.</p>
                            </div>
                            <div class="nav">
                                <a class="nav-link block button ghost-blue" href="#" se_prerender_url="complete"><span>digital marketing</span></a>
                            </div>
                        </div>
                    </div>
                    <!-- Web Design -->
                    <div class="module module-icon column xs-6 md-3 lg-3">
                        <div class="inner">
                            <a href="#" class="module-image"><img class="img" src="__INDEX__/images/icon-blue-web-design.png" alt="web_design" data-pin-no-hover="true">
                            </a>
                            <div class="popup-content">
                                <p>Mobile-friendly sites are a must these days. Ensure yours is clean, functional, responsive and accessible on all devices.</p>
                            </div>
                            <div class="nav">
                                <a class="nav-link block button ghost-blue" href="#"><span>web design</span></a>
                            </div>
                        </div>
                    </div>
                    <!-- Web Dev -->
                    <div class="module module-icon column xs-6 md-3 lg-3">
                        <div class="inner">
                            <a href="#" class="module-image"><img class="img" src="__INDEX__/images/icon-blue-website-design-development.png" alt="web_development" data-pin-no-hover="true"></a>
                            <div class="popup-content">
                                <p>Your brand is unique. Reflect that on your website through customization.</p>
                            </div>
                            <div class="nav">
                                <a class="nav-link block button ghost-blue" href="#"><span>web development</span></a>
                            </div>
                        </div>
                    </div>
                    <!-- Intranet -->
                    <div class="module module-icon column xs-6 md-3 lg-3">
                        <div class="inner">
                            <a href="#" class="module-image"><img class="img" src="__INDEX__/images/icon-blue-intranet.png" alt="intranet_development" data-pin-no-hover="true"></a>
                            <div class="popup-content">
                                <p>Work collaboratively with your team with a custom intranet software designed for your company's specific needs.</p>
                            </div>
                            <div class="nav">
                                <a class="nav-link block button ghost-blue" href="#"><span>intranet development</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section section6">
                <div class="logo_block skrollable skrollable-between">
                    <span><img src="__INDEX__/images/Fuse_b.png" alt=""></span><span><img  src="__INDEX__/images/Kraftka_b.png" alt=""></span><span><img src="__INDEX__/images/Echo_b.png" alt=""></span><span><img  src="__INDEX__/images/Opera_C.png" alt=""></span><span><img  src="__INDEX__/images/Uni_Credit1.png" alt=""></span><span><img src="__INDEX__/images/Caspio_b.png" alt=""></span><span><img src="__INDEX__/images/Unique_Publishing_b.png" alt=""></span><span><img src="__INDEX__/images/Ribbet_b.png" alt=""></span>
                </div>
                <h2 id='section6'>LET`S TALK</h2>
                <div class="whatdo">
                    <dl>
                        <dt>想要我们做什么？</dt>
                        <dd>我们希望了解不同人的需求</dd>
                        <dd>请让我们知道你需要什么帮助</dd>
                    </dl>
                </div>
                <dd class="buttonlink"><a href="#"><span>快速建站</span></a><a href="#"><span>定制开发</span></a><a href="#"><span>成为代理</span></a></dd>
            </div>
            <div class="section section7">
                <h3>极致的互联网快速建站平台</h3>
            </div>
        </div>
        {include file='public/footer'/}
        <div id="fp-nav">
            <ul>
                <li class="current"><a href='#section1'></a></li>
                <li><a href='#section2'></a></li>
                <li><a href='#section3'></a></li>
                <li><a href='#section4'></a></li>
                <li><a href='#section5'></a></li>
                <li><a href='#section6'></a></li>
                <li><a href='#section7'></a></li>
            </ul>
        </div>
        <script src="__INDEX__/js/jquery.nav.js"></script>
        <script>
        $(function() {
            $('#fp-nav').onePageNav();
        })
        </script>
        <script>
        var swiper = new Swiper('.swiper1', {
            pagination: '.swiper-pagination',
            slidesPerView: 2,
            paginationClickable: true,
            spaceBetween: 0,
            nextButton: '.swiper-button-next',
            prevButton: '.swiper-button-prev',
        });
        </script>
        <script>
        var swiper = new Swiper('.swiper2', {
            pagination: '.swiper-pagination',
            slidesPerView: 3,
            paginationClickable: true,
            nextButton: '.swiper-button-next',
            prevButton: '.swiper-button-prev',
            spaceBetween: 30
        });
        </script>
</body>
<html>
