<!DOCTYPE html>
<html>

<head>
    <!-- METAS -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>blog</title>
    <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no'>
    <link rel="icon" type="image/x-icon" href="__INDEX__/images/favicon.ico">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel='stylesheet' id='google-fonts-css' href='https://fonts.googleapis.com/css?family=Raleway%3A300%2C400%2C500%2C700&#038;ver=4.2.2' type='text/css' media='all' />
    <link rel='stylesheet' id='style-css' href='__INDEX__/css/blog.css' type='text/css' media='all' />
    <script type='text/javascript' src='__INDEX__/js/jquery.min.js'></script>
    <script type='text/javascript' src='__INDEX__/js/jquery-ui.min.js'></script>
    <script type='text/javascript' src='__INDEX__/js/dat.gui.min.js'></script>
</head>

<body>
    <div id="wrapper">
        {include file='public/header'/}
        <div class="to-fixed">
        	<div class="magzine clearfix">
            <a href="#" class="pic1">
            	<img src="__INDEX__/images/magzine3.png" alt="">
                <span class="magzine-read">点击阅读</span>
            	<span class="magzine-download">下载</span>
            </a>
            <a href="#" class="pic2">
            	<img src="__INDEX__/images/magzine2.png" alt="">
                <span class="magzine-read">点击阅读</span>
                <span class="magzine-download">下载</span>
            </a>
        </div>

            <footer class="custom-load"></footer>
            <div id="app">
                <router-view></router-view>
                <div id="experience" class="scene"></div>
            </div>
        </div>
    </div>
    <script id="scene-script" data-path="__INDEX__/js/bundle.js" src="__INDEX__/js/bundle.js"></script>
    <!-- Start of Async HubSpot Analytics Code for WordPress v1.1.2 -->
    <!-- End of Async HubSpot Analytics Code -->
    <script type='text/javascript' src='__INDEX__/js/plugins.js'></script>
    <script type='text/javascript' src='__INDEX__/js/ui-min.js'></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>

</html>
