<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>首页</title>
    {include file='public/meta'/}
</head>

<body class="blog">
    <div class="wrapper">
        {include file='public/header' /}
        <div class="submenu">
            <a href="">所有</a>
            <a href="">案例研究</a>
            <a href="">品牌</a>
            <a href="">插图</a>
            <a href="">动画</a>
        </div>
        <div class="main">
            <div class="banner">
                <h2>不想错过每一个精彩？</h2>
                <p>让我们知道您的邮箱，我们将最新的设计，案例研究与您分享。</p>
                <div class="subscribe">SUBSCRIBE</div>
            </div>
            <div class="search wrapper3">
                    <form action="#" class="form">
                        <input type="text" class="form-control" placeholder="请搜索...">
                    </form>
            </div>
            <div class="bloglist wrapper3">
                <ul class="row">
                    <li class="col-md-4 col-xs-12">
                        <a href="#"><img src="__INDEX__/images/blogpic.jpg" alt=""></a>
                        <div class="typename">博客栏目</div>
                        <a class="title">博客文章标题</a>
                        <p>文字描述文字描述文字描述文字描述文字描述文字描述文字描述文字描述文字描述文字描述文字描述文字描述文字描述文字描述文字描述文字描述文字描述</p>
                    </li>
                    <li class="col-md-4 col-xs-12">
                        <a href="#"><img src="__INDEX__/images/blogpic.jpg" alt=""></a>
                        <div class="typename">博客栏目</div>
                        <a class="title">博客文章标题</a>
                        <p>文字描述文字描述文字描述文字描述文字描述文字描述文字描述文字描述文字描述文字描述文字描述文字描述文字描述文字描述文字描述文字描述文字描述</p>
                    </li>
                    <li class="col-md-4 col-xs-12">
                        <a href="#"><img src="__INDEX__/images/blogpic.jpg" alt=""></a>
                        <div class="typename">博客栏目</div>
                        <a class="title">博客文章标题</a>
                        <p>文字描述文字描述文字描述文字描述文字描述文字描述文字描述文字描述文字描述文字描述文字描述文字描述文字描述文字描述文字描述文字描述文字描述</p>
                    </li>
                    <li class="col-md-4 col-xs-12">
                        <a href="#"><img src="__INDEX__/images/blogpic.jpg" alt=""></a>
                        <div class="typename">博客栏目</div>
                        <a class="title">博客文章标题</a>
                        <p>文字描述文字描述文字描述文字描述文字描述文字描述文字描述文字描述文字描述文字描述文字描述文字描述文字描述文字描述文字描述文字描述文字描述</p>
                    </li>
                </ul>
                <div class="loadmore"><a href="#">LOAD MORE</a></div>
            </div>
        </div>
        {include file='public/footer'/}
        <script>
        var swiper = new Swiper('.swiper1', {
            pagination: '.swiper-pagination',
            slidesPerView: 2,
            paginationClickable: true,
            spaceBetween: 0,
            nextButton: '.swiper-button-next',
            prevButton: '.swiper-button-prev',
        });
        </script>
        <script>
        var swiper = new Swiper('.swiper2', {
            pagination: '.swiper-pagination',
            slidesPerView: 3,
            paginationClickable: true,
            nextButton: '.swiper-button-next',
            prevButton: '.swiper-button-prev',
            spaceBetween: 30
        });
        </script>
</body>
<html>
