<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>后台</title>
    {include file='public/meta'/}
</head>

<body>
    <div class="wrapper">
        <div class="innerpage pageheight">
            <div class="wrapper container-fluid pageheight">
                {include file='member_admin/menu'/}
                <div class="page-content">
                    <div class="bread">
                        <i class="icon-home"></i>
                        <a href="#" class="homelink">首页</a> > 用户组列表
                    </div>
                    <div class="body">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h2 class="panel-title">用户组列表 <a href="{:url('add')}" class="btn btn-info btn-xs">添加</a></h2>
                            </div>
                            <div class="panel-body">
                                <form action="" method="post">
                                    <table class="table table-bordered table-hover">
                                        <thead class="">
                                            <tr>
                                                <th class="text-center" width="10%">ID</th>
                                                <th class="text-center">用户组名称</th>
                                                <th class="text-center">启用状态</th>
                                                <th class="text-center" width="20%">操作</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {volist name="authGroupRes" id="authGroup"}
                                            <tr>
                                                <td align="center">{$authGroup.id}</td>
                                                <td align="center">{$authGroup.title}</td>
                                                <td align="center">
                                                    {if condition="$authGroup['status'] eq 1"}
                                                    <a class="btn btn-success btn-sm" href="javascript:void(0);">启用</a> {else /}
                                                    <a class="btn btn-darkorange btn-sm" href="javascript:void(0);">禁用</a> {/if}
                                                </td>
                                                <td align="center">
                                                    <a href="{:url('edit',array('id'=>$authGroup['id']))}" class="btn btn-primary btn-sm shiny">
                                                        <i class="fa fa-edit"></i> 编辑
                                                    </a>
                                                    <a href="#" onClick="warning('确实要删除吗', '{:url('del',array('id'=>$authGroup['id']))}')" class="btn btn-danger btn-sm shiny">
                                                        <i class="fa fa-trash-o"></i> 删除
                                                    </a>
                                                </td>
                                            </tr>
                                            {/volist}
                                        </tbody>
                                    </table>
                                </form>
                                <div>
                                    {$authGroupRes->render()}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
