<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<!-- Head -->

<head>
    <meta charset="utf-8" />
    <title>Dashboard</title>
    {include file='public/meta' /}
</head>
<!-- /Head -->
<!-- Body -->

<body>
    <!-- Loading Container -->
    <div class="loading-container">
        <div class="loading-progress">
            <div class="rotator">
                <div class="rotator">
                    <div class="rotator colored">
                        <div class="rotator">
                            <div class="rotator colored">
                                <div class="rotator colored"></div>
                                <div class="rotator"></div>
                            </div>
                            <div class="rotator colored"></div>
                        </div>
                        <div class="rotator"></div>
                    </div>
                    <div class="rotator"></div>
                </div>
                <div class="rotator"></div>
            </div>
            <div class="rotator"></div>
        </div>
    </div>
    <!--  /Loading Container -->
    <!-- Navbar -->
    <div class="navbar">
        <div class="navbar-inner">
            <div class="navbar-container">
                <!-- Navbar Barnd -->
                <div class="navbar-header pull-left">
                    <a href="#" class="navbar-brand">
                        <small style="line-height:45px">
                            starwoodinfotech
                        </small>
                    </a>
                </div>
                <!-- /Navbar Barnd -->
                <!-- Sidebar Collapse -->
                <div class="sidebar-collapse" id="sidebar-collapse">
                    <i class="collapse-icon fa fa-bars"></i>
                </div>
                <div class="navbar-header pull-right">
                    <div class="navbar-account">
                        <ul class="account-area">
                            <li>
                                <a class="wave in dropdown-toggle" data-toggle="dropdown" title="Help" href="#">
                                    <i class="icon fa fa-envelope"></i>
                                    <span class="badge">3</span>
                                </a>
                                <!--Messages Dropdown-->
                                <ul class="pull-right dropdown-menu dropdown-arrow dropdown-messages">
                                    <li>
                                        <a href="#">
                                            <img src="__ADMIN__/img/avatars/divyia.jpg" class="message-avatar" alt="Divyia Austin">
                                            <div class="message">
                                                <span class="message-sender">
                                                    传酷科技
                                                </span>
                                                <span class="message-time">
                                                    20分钟前
                                                </span>
                                                <span class="message-subject">
                                                    购买网站模板
                                                </span>
                                                <span class="message-body">
                                                   XX主题模板
                                                </span>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="__ADMIN__/img/avatars/divyia.jpg" class="message-avatar" alt="Divyia Austin">
                                            <div class="message">
                                                <span class="message-sender">
                                                    传酷科技
                                                </span>
                                                <span class="message-time">
                                                    20分钟前
                                                </span>
                                                <span class="message-subject">
                                                    购买网站模板
                                                </span>
                                                <span class="message-body">
                                                   XX主题模板
                                                </span>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="__ADMIN__/img/avatars/divyia.jpg" class="message-avatar" alt="Divyia Austin">
                                            <div class="message">
                                                <span class="message-sender">
                                                    传酷科技
                                                </span>
                                                <span class="message-time">
                                                    20分钟前
                                                </span>
                                                <span class="message-subject">
                                                    购买网站模板
                                                </span>
                                                <span class="message-body">
                                                   XX主题模板
                                                </span>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                                <!--/Messages Dropdown-->
                            </li>
                            <li>
                                <a class="login-area dropdown-toggle" data-toggle="dropdown">
                                    <div class="avatar" title="View your public profile">
                                        <img src="__ADMIN__/img/avatars/adam-jansen.jpg">
                                    </div>
                                    <section>
                                        <h2><span class="profile"><span>starwood</span></span></h2>
                                    </section>
                                </a>
                                <!--Login Area Dropdown-->
                                <ul class="pull-right dropdown-menu dropdown-arrow dropdown-login-area">
                                    <li class="username"><a>starwood</a></li>
                                    <li class="email"><a>starwood@163.com</a></li>
                                    <!--Avatar Area-->
                                    <li class="edit">
                                        <a href="profile.html" class="pull-left">介绍</a>
                                        <a href="#" class="pull-right">设置</a>
                                    </li>
                                    <!--Theme Selector Area-->
                                    <!--/Theme Selector Area-->
                                    <li class="dropdown-footer">
                                        <a href="login.html">
                                            注销
                                        </a>
                                    </li>
                                </ul>
                                <!--/Login Area Dropdown-->
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- /Account Area and Settings -->
            </div>
        </div>
    </div>
    <!-- /Navbar -->
    <!-- Main Container -->
    <div class="main-container container-fluid">
        <!-- Page Container -->
        <div class="page-container">
            <!-- Page Sidebar -->
            <div class="page-sidebar" id="sidebar">
                <!-- /Page Sidebar Header -->
                <!-- Sidebar Menu -->
                <ul class="nav sidebar-menu">
                    <!--Dashboard-->
                    <li class="active">
                        <a href="index.html">
                            <i class="menu-icon glyphicon glyphicon-home"></i>
                            <span class="menu-text"> 控制台 </span>
                        </a>
                    </li>
                    <!--Databoxes-->
                    <li>
                        <a href="#" class="menu-dropdown">
                            <i class="menu-icon fa fa-user"></i>
                            <span class="menu-text"> 代理商管理 </span>
                            <i class="menu-expand"></i>
                        </a>
                        <ul class="submenu">
                            <li>
                                <a href="agencylist.html">
                                    <span class="menu-text">代理商列表</span>
                                </a>
                            </li>
                            <li>
                                <a href="agencyadd.html">
                                    <span class="menu-text">代理商添加</span>
                                </a>
                            </li>
                            <li>
                                <a href="agencyorderlist.html">
                                    <span class="menu-text">代理商订单列表</span>
                                </a>
                            </li>
                            <li>
                                <a href="agencypayrecord.html">
                                    <span class="menu-text">代理商消费记录</span>
                                </a>
                            </li>
                            <li>
                                <a href="agencyfileadd.html">
                                    <span class="menu-text">代理后台文档上传</span>
                                </a>
                            </li>
                            <li>
                                <a href="agencyfilelist.html">
                                    <span class="menu-text">代理后台文档列表</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="databoxes.html" class="menu-dropdown">
                            <i class="menu-icon fa fa-th-large"></i>
                            <span class="menu-text"> 代理商模块管理 </span>
                            <i class="menu-expand"></i>
                        </a>
                        <ul class="submenu">
                            <li>
                                <a href="agencyleveladd.html">
                                    <span class="menu-text">代理商级别添加</span>
                                </a>
                            </li>
                            <li>
                                <a href="agencylevellist.html">
                                    <span class="menu-text">代理商级别列表</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!--Widgets-->
                    <li>
                        <a href="databoxes.html" class="menu-dropdown">
                            <i class="menu-icon fa fa-users"></i>
                            <span class="menu-text"> 客户管理 </span>
                            <i class="menu-expand"></i>
                        </a>
                        <ul class="submenu">
                            <li>
                                <a href="customerlist.html">
                                    <span class="menu-text">客户列表</span>
                                </a>
                            </li>
                            <li>
                                <a href="customeradd.html">
                                    <span class="menu-text">客户添加</span>
                                </a>
                            </li>
                            <li>
                                <a href="customerorderlist.html">
                                    <span class="menu-text">客户订单列表</span>
                                </a>
                            </li>
                            <li>
                                <a href="customerorderlist2.html">
                                    <span class="menu-text">客户消费记录</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="databoxes.html" class="menu-dropdown">
                            <i class="menu-icon fa fa-tachometer"></i>
                            <span class="menu-text"> 模板管理 </span>
                            <i class="menu-expand"></i>
                        </a>
                        <ul class="submenu">
                            <li>
                                <a href="templist.html">
                                    <span class="menu-text">模板列表</span>
                                </a>
                            </li>
                            <li>
                                <a href="tempcopy.html">
                                    <span class="menu-text">复制客户网站</span>
                                </a>
                            </li>
                            <li>
                                <a href="siteadd.html">
                                    <span class="menu-text">开设网站</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="databoxes.html" class="menu-dropdown">
                            <i class="menu-icon fa fa-sort-numeric-desc"></i>
                            <span class="menu-text"> 统计信息 </span>
                            <i class="menu-expand"></i>
                        </a>
                        <ul class="submenu">
                            <li>
                                <a href="tongjicaiwu.html">
                                    <span class="menu-text">财务统计</span>
                                </a>
                            </li>
                            <li>
                                <a href="tongjikehu.html">
                                    <span class="menu-text">客户统计</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!--UI Elements-->
                    <li>
                        <a href="#" class="menu-dropdown">
                            <i class="menu-icon fa fa-desktop"></i>
                            <span class="menu-text"> 官网设置 </span>
                            <i class="menu-expand"></i>
                        </a>
                        <ul class="submenu">
                            <li>
                                <a href="siteset.html">
                                    <span class="menu-text">全站设置</span>
                                </a>
                            </li>
                            <li>
                                <a href="contact.html">
                                    <span class="menu-text">联系方式</span>
                                </a>
                            </li>
                            <li>
                                <a href="kefu.html">
                                    <span class="menu-text">客服设置</span>
                                </a>
                            </li>
                            <li>
                                <a href="about.html">
                                    <span class="menu-text">关于我们</span>
                                </a>
                            </li>
                            <li>
                                <a href="items.html">
                                    <span class="menu-text">服务条款</span>
                                </a>
                            </li>
                            <li>
                                <a href="footinfo.html">
                                    <span class="menu-text">底部信息</span>
                                </a>
                            </li>
                            <li>
                                <a href="paytype.html">
                                    <span class="menu-text">支付方式</span>
                                </a>
                            </li>
                            <li>
                                <a href="tongji.html">
                                    <span class="menu-text">统计代码</span>
                                </a>
                            </li>
                            <li>
                                <a href="plug.html">
                                    <span class="menu-text">插件代码</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!--Tables-->
                    <li>
                        <a href="#" class="menu-dropdown">
                            <i class="menu-icon typcn typcn-news"></i>
                            <span class="menu-text"> 新闻动态 </span>
                            <i class="menu-expand"></i>
                        </a>
                        <ul class="submenu">
                            <li>
                                <a href="newslist.html">
                                    <span class="menu-text">新闻列表</span>
                                </a>
                            </li>
                            <li>
                                <a href="addnews.html">
                                    <span class="menu-text">添加新闻</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="menu-dropdown">
                            <i class="menu-icon fa fa-bullhorn"></i>
                            <span class="menu-text"> 消息推送 </span>
                            <i class="menu-expand"></i>
                        </a>
                        <ul class="submenu">
                            <li>
                                <a href="msglist.html">
                                    <span class="menu-text">收到的消息</span>
                                </a>
                            </li>
                            <li>
                                <a href="sendmsg1.html">
                                    <span class="menu-text">给代理商发消息</span>
                                </a>
                            </li>
                            <li>
                                <a href="sendmsg2.html">
                                    <span class="menu-text">给客户后台发公告</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="menu-dropdown">
                            <i class="menu-icon fa fa-user"></i>
                            <span class="menu-text"> 管理员 </span>
                            <i class="menu-expand"></i>
                        </a>
                        <ul class="submenu">
                            <li>
                                <a href="adminlist.html">
                                    <span class="menu-text">管理员列表</span>
                                </a>
                            </li>
                            <li>
                                <a href="adminadd.html">
                                    <span class="menu-text">管理员添加</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="menu-dropdown">
                            <i class="menu-icon typcn typcn-news"></i>
                            <span class="menu-text"> 新闻源 </span>
                            <i class="menu-expand"></i>
                        </a>
                        <ul class="submenu">
                            <li>
                                <a href="pingtaiadd.html">
                                    <span class="menu-text">新闻源平台添加</span>
                                </a>
                            </li>
                            <li>
                                <a href="sourceadd.html">
                                    <span class="menu-text">新闻文章发布</span>
                                </a>
                            </li>
                            <li>
                                <a href="sourcelist.html">
                                    <span class="menu-text">新闻订单列表</span>
                                </a>
                            </li>
                            <li>
                                <a href="sourceold.html">
                                    <span class="menu-text">已发布新闻</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="server.html">
                            <i class="menu-icon fa fa-cog"></i>
                            <span class="menu-text"> 服务器信息 </span>
                        </a>
                    </li>
                </ul>
                <!-- /Sidebar Menu -->
            </div>
            <!-- /Page Sidebar -->
            <!-- Page Content -->
            <div class="page-content">
                <!-- Page Breadcrumb -->
                <div class="page-breadcrumbs">
                    <ul class="breadcrumb">
                        <li>
                            <i class="fa fa-home"></i>
                            <a href="#">Home</a>
                        </li>
                        <li class="active">代理商列表</li>
                    </ul>
                </div>
                <!-- /Page Breadcrumb -->
                <!-- Page Header -->
                <div class="page-header position-relative">
                    <div class="header-title">
                        <h1>
                            代理商列表
                        </h1>
                    </div>
                    <!--Header Buttons-->
                    <div class="header-buttons">
                        <a class="sidebar-toggler" href="#">
                            <i class="fa fa-arrows-h"></i>
                        </a>
                        <a class="refresh" id="refresh-toggler" href="">
                            <i class="glyphicon glyphicon-refresh"></i>
                        </a>
                        <a class="fullscreen" id="fullscreen-toggler" href="#">
                            <i class="glyphicon glyphicon-fullscreen"></i>
                        </a>
                    </div>
                    <!--Header Buttons End-->
                </div>
                <!-- /Page Header -->
                <!-- Page Body -->
                <div class="page-body">
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            <div class="well with-header with-footer">
                                <div class="header bg-palegreen">
                                    代理商文件管理
                                </div>
                                <table class="table table-hover table-striped table-bordered">
                                    <thead class="bordered-blueberry">
                                        <tr>
                                            <th width="10%">
                                                ID
                                            </th>
                                            <th>
                                                文件名称
                                            </th>
                                            <th>
                                                说明
                                            </th>
                                            <th width='20%'>
                                                操作
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                1
                                            </td>
                                            <td>
                                                代理商管理规范.doc
                                            </td>
                                            <td>
                                               代理商日常管理客户说明
                                            </td>
                                            <td>
                                               <a href="#" class="btn btn-default btn-xs purple"><i class="fa fa-edit"></i> Edit</a>
                                               <a href="#" class="btn btn-default btn-xs black"><i class="fa fa-trash-o"></i> Delete</a>
                                            </td>
                                        </tr> <tr>
                                            <td>
                                                1
                                            </td>
                                            <td>
                                                代理最近加盟优惠政策.doc
                                            </td>
                                            <td>
                                               代理商日常管理客户说明
                                            </td>
                                            <td>
                                               <a href="#" class="btn btn-default btn-xs purple"><i class="fa fa-edit"></i> Edit</a>
                                               <a href="#" class="btn btn-default btn-xs black"><i class="fa fa-trash-o"></i> Delete</a>
                                            </td>
                                        </tr> <tr>
                                            <td>
                                                1
                                            </td>
                                            <td>
                                                代理商管理规范.doc
                                            </td>
                                            <td>
                                               代理商日常管理客户说明
                                            </td>
                                            <td>
                                               <a href="#" class="btn btn-default btn-xs purple"><i class="fa fa-edit"></i> Edit</a>
                                               <a href="#" class="btn btn-default btn-xs black"><i class="fa fa-trash-o"></i> Delete</a>
                                            </td>
                                        </tr> <tr>
                                            <td>
                                                1
                                            </td>
                                            <td>
                                                代理商管理规范.doc
                                            </td>
                                            <td>
                                               代理商日常管理客户说明
                                            </td>
                                            <td>
                                               <a href="#" class="btn btn-default btn-xs purple"><i class="fa fa-edit"></i> Edit</a>
                                               <a href="#" class="btn btn-default btn-xs black"><i class="fa fa-trash-o"></i> Delete</a>
                                            </td>
                                        </tr> <tr>
                                            <td>
                                                1
                                            </td>
                                            <td>
                                                代理商管理规范.doc
                                            </td>
                                            <td>
                                               代理商日常管理客户说明
                                            </td>
                                            <td>
                                               <a href="#" class="btn btn-default btn-xs purple"><i class="fa fa-edit"></i> Edit</a>
                                               <a href="#" class="btn btn-default btn-xs black"><i class="fa fa-trash-o"></i> Delete</a>
                                            </td>
                                        </tr>
                                     
                                        
                                    </tbody>
                                </table>
                                <div class="row DTTTFooter">
                                    <div class="col-sm-6">
                                        <div class="dataTables_info" id="simpledatatable_info" role="alert" aria-live="polite" aria-relevant="all">共10个文件</div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="dataTables_paginate paging_bootstrap text-right" id="simpledatatable_paginate">
                                            <ul class="pagination">
                                                <li class="prev disabled"><a href="#">Prev</a></li>
                                                <li class="active"><a href="#">1</a></li>
                                                <li><a href="#">2</a></li>
                                                <li><a href="#">3</a></li>
                                                <li><a href="#">4</a></li>
                                                <li><a href="#">5</a></li>
                                                <li class="next"><a href="#">Next</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Page Body -->
            </div>
            <!-- /Page Content -->
        </div>
        <!-- /Page Container -->
        <!-- Main Container -->
    </div>
    <!--Basic Scripts-->
    <script src="__ADMIN__/js/jquery-2.0.3.min.js"></script>
    <script src="__ADMIN__/js/bootstrap.min.js"></script>
    <!--Beyond Scripts-->
    <script src="__ADMIN__/js/beyond.min.js"></script>
    <!--Page Related Scripts-->
    <!--Sparkline Charts Needed Scripts-->
    <script src="__ADMIN__/js/charts/sparkline/jquery.sparkline.js"></script>
    <script src="__ADMIN__/js/charts/sparkline/sparkline-init.js"></script>
    <!--Easy Pie Charts Needed Scripts-->
    <script src="__ADMIN__/js/charts/easypiechart/jquery.easypiechart.js"></script>
    <script src="__ADMIN__/js/charts/easypiechart/easypiechart-init.js"></script>
    <script src="__ADMIN__/js/charts/chartjs/Chart.js"></script>
    <script src="__ADMIN__/js/charts/chartjs/chartjs-init.js"></script>
    <!--Flot Charts Needed Scripts-->
    <script src="__ADMIN__/js/charts/flot/jquery.flot.js"></script>
    <script src="__ADMIN__/js/charts/flot/jquery.flot.resize.js"></script>
    <script src="__ADMIN__/js/charts/flot/jquery.flot.pie.js"></script>
    <script src="__ADMIN__/js/charts/flot/jquery.flot.tooltip.js"></script>
    <script src="__ADMIN__/js/charts/flot/jquery.flot.orderBars.js"></script>
    <script>
    $(window).bind("load", function() {

        /*Sets Themed Colors Based on Themes*/
        themeprimary = getThemeColorFromCss('themeprimary');
        themesecondary = getThemeColorFromCss('themesecondary');
        themethirdcolor = getThemeColorFromCss('themethirdcolor');
        themefourthcolor = getThemeColorFromCss('themefourthcolor');
        themefifthcolor = getThemeColorFromCss('themefifthcolor');

        InitiateEasyPieChart.init();
    });
    </script>
    <script>
    $(window).bind("load", function() {

        /*Sets Themed Colors Based on Themes*/
        themeprimary = getThemeColorFromCss('themeprimary');
        themesecondary = getThemeColorFromCss('themesecondary');
        themethirdcolor = getThemeColorFromCss('themethirdcolor');
        themefourthcolor = getThemeColorFromCss('themefourthcolor');
        themefifthcolor = getThemeColorFromCss('themefifthcolor');

        InitiateChartJS.init();
    });
    </script>
</body>
<!--  /Body -->

</html>
