<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>后台</title>
    {include file='public/meta'/}
</head>

<body>
    <div class="wrapper">
        <div class="innerpage pageheight">
            <div class="wrapper container-fluid pageheight">
                {include file='agent/menu'/}
                <div class="page-content">
                    <div class="bread">
                        <i class="icon-home"></i>
                        <a href="#" class="homelink">首页</a> > 添加代理商
                    </div>
                    <div class="body">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h2 class="panel-title">添加代理商</h2>
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <form action="" method='post'>
                                        <table class="table table-striped table-hover">
                                            <tr>
                                                <th>字段</th>
                                                <th width="40%">值</th>
                                                <th>备注</th>
                                            </tr>
                                            <tr>
                                                <td>代理商名称</td>
                                                <td>
                                                    <input type="text" class="form-control" name="agentname">
                                                </td>
                                                <td class="text-muted">3-30个字符</td>
                                            </tr>
                                            <tr>
                                                <td>代理级别</td>
                                                <td>
                                                    <select name="level" id="" class="form-control">
                                                        <option value="0">请选择</option>
                                                        <option value="4">合伙人</option>
                                                        <option value="3">皇冠</option>
                                                        <option value="2">钻石</option>
                                                        <option value="1">普通</option>
                                                    </select>
                                                </td>
                                                <td class="text-muted">选择代理商级别</td>
                                            </tr>
                                            <tr>
                                                <td>联系人</td>
                                                <td>
                                                    <input type="text" class="form-control" name='username'>
                                                </td>
                                                <td class="text-muted">代理商联系人姓名</td>
                                            </tr>
                                            <tr>
                                                <td>手机号码</td>
                                                <td>
                                                    <input type="text" class="form-control" name='phone'>
                                                </td>
                                                <td class="text-muted">联系手机号码</td>
                                            </tr>
                                            <tr>
                                                <td>座机</td>
                                                <td>
                                                    <input type="text" class="form-control" name='tel'>
                                                </td>
                                                <td class="text-muted">如：00853-63000205</td>
                                            </tr>
                                            <tr>
                                                <td>传真</td>
                                                <td>
                                                    <input type="text" class="form-control" name='fax'>
                                                </td>
                                                <td class="text-muted">如：00853-63000205</td>
                                            </tr>
                                            <tr>
                                                <td>微信号</td>
                                                <td>
                                                    <input type="text" class="form-control" name='wechat'>
                                                </td>
                                                <td class="text-muted">5-30个字符</td>
                                            </tr>
                                            <tr>
                                                <td>qq号码</td>
                                                <td>
                                                    <input type="text" class="form-control" name='qq'>
                                                </td>
                                                <td class="text-muted">数字格式</td>
                                            </tr>
                                            <tr>
                                                <td>联系地址</td>
                                                <td>
                                                    <input type="text" class="form-control" name='address'>
                                                </td>
                                                <td class="text-muted">请填写详细的联系地址</td>
                                            </tr>
                                            <tr>
                                                <td>上级代理商</td>
                                                <td>
                                                    <input type="text" class="form-control" name='upid'>
                                                </td>
                                                <td class="text-muted">如没有，请留空</td>
                                            </tr>
                                            <tr>
                                                <td>代理状态</td>
                                                <td>
                                                    <div class="radio radio-info radio-inline">
                                                        <input type="radio" id="inlineRadio1" value="option1" name="status" checked="">
                                                        <label for="inlineRadio1"> 开启 </label>
                                                    </div>
                                                    <div class="radio radio-inline">
                                                        <input type="radio" id="inlineRadio2" value="option2" name="status">
                                                        <label for="inlineRadio2"> 关闭 </label>
                                                    </div>
                                                </td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td>
                                                    <button class="btn btn-primary" type="submit">提交</button>
                                                </td>
                                                <td></td>
                                            </tr>
                                        </table>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
