<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>后台</title>
    {include file='public/meta'/}
</head>

<body>
    <div class="wrapper">
        <div class="innerpage pageheight">
            <div class="wrapper container-fluid pageheight">
                {include file='agent/menu'/}
                <div class="page-content">
                    <div class="bread">
                        <i class="icon-home"></i>
                        <a href="#" class="homelink">首页</a> > 代理商详细信息
                    </div>
                    <div class="body">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h2 class="panel-title">代理商详细信息</h2>
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-striped table-hover">
                                        <tr>
                                            <th>字段</th>
                                            <th>值</th>
                                        </tr>
                                        <tr>
                                            <td>登录用户名 <span class="text-danger">*</span></td>
                                            <td>
                                                {$infos.username}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>代理商机构名称 <span class="text-danger">*</span></td>
                                            <td>
                                                {$infos.agentname}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>代理级别 <span class="text-danger">*</span></td>
                                            <td>
                                                {if condition="$infos.level eq 1"}普通{elseif condition="$infos.level eq 2"}钻石{elseif condition="$infos.level eq 3"}皇冠{elseif condition="$infos.level eq 4"}合伙人{else/}无{/if}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>联系人</td>
                                            <td>
                                                {$infos.linkman}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>手机号码</td>
                                            <td>
                                                {$infos.phone}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>座机</td>
                                            <td>
                                                {$infos.tel}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>传真</td>
                                            <td>
                                                {$infos.fax}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>微信号</td>
                                            <td>
                                                {$infos.wechat}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>qq号码</td>
                                            <td>
                                                {$infos.qq}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>联系地址</td>
                                            <td>
                                                {$infos.address}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>上级代理商id</td>
                                            <td>
                                                {if condition="$infos.upid eq 0"}无{else/} {$infos.upid}{/if}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>用户头像</td>
                                            <td>
                                                <img src="{$infos.thumb}" alt="用户头像" width='100' height='100'>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>代理状态</td>
                                            <td>
                                                {if condition="$infos.status eq 0"}关闭{else/}开启{/if}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>
                                                <a href="{:url('edit',['id'=>$infos['id']])}" class="btn btn-primary">编辑</a>
                                                <a href="{:url('lst')}" class="btn btn-default">返回</a>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
