<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>后台</title>
    {include file='public/meta'/}
</head>

<body>
    <div class="wrapper">
        <div class="innerpage pageheight">
            <div class="wrapper container-fluid pageheight">
                {include file='agent/menu'/}
                <div class="page-content">
                    <div class="bread">
                        <i class="icon-home"></i>
                        <a href="#" class="homelink">首页</a> > 代理商列表
                    </div>
                    <div class="body">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h2 class="panel-title">代理商列表 <a href="{:url('add')}" class="btn btn-info btn-xs">添加</a></h2>
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-hover text-center">
                                        <tr>
                                            <th><a href="{:url('lst',array('fld'=>'id','way'=>'desc'))}">id <i class="fa fa-caret-down"></i></a></th>
                                            <th><a href="{:url('lst',array('fld'=>'username'))}">账号 <i class="fa fa-caret-down"></i></a></th>
                                            <th><a href="{:url('lst',array('fld'=>'agentname'))}">机构 <i class="fa fa-caret-down"></i></a></th>
                                            <th><a href="{:url('lst',array('fld'=>'level','way'=>'desc'))}">级别 <i class="fa fa-caret-down"></i></a></th>
                                            <th><a href="{:url('lst',array('fld'=>'allpay','way'=>'desc'))}">总充值 <i class="fa fa-caret-down"></i></a></th>
                                            <th><a href="{:url('lst',array('fld'=>'balance','way'=>'desc'))}">余额 <i class="fa fa-caret-down"></i></a></th>
                                            <th><a href="{:url('lst',array('fld'=>'upidsum','way'=>'desc'))}">子代理 <i class="fa fa-caret-down"></i></a></th>
                                            <th><a href="{:url('lst',array('fld'=>'memsum','way'=>'desc'))}">会员 <i class="fa fa-caret-down"></i></a></th>
                                            <th><a href="{:url('lst',array('fld'=>'status','way'=>'desc'))}">状态 <i class="fa fa-caret-down"></i></a></th>
                                            <th width='170px'>操作</th>
                                        </tr>
                                        {volist name='list' id='vo'}
                                        <tr>
                                            <td>{$vo.id}</td>
                                            <td>{$vo.username}</td>
                                            <td>{$vo.agentname}</td>
                                            <td>{if condition="$vo['level'] eq 1"}银牌{elseif condition="$vo['level'] eq 2"}金牌{elseif condition="$vo['level'] eq 3"}钻石{else/}无{/if}</td>
                                            <td>{if condition="$vo.allpay eq ''"}0{else/}{$vo.allpay}{/if}</td>
                                            <td>{if condition="$vo.balance eq ''"}0{else/}{$vo.balance}{/if}</td>
                                            <td>{$vo.upidsum}</td>
                                            <td>{$vo.memsum}</td>
                                            <td>{if condition="$vo['status'] eq 0"}关闭{else/}开启{/if}</td>
                                            <td><a href="{:url('edit',array('id'=>$vo['id']))}" class="btn btn-primary btn-sm">编辑</a><a href="#" class="btn btn-warning btn-sm">充值</a><a href="{:url('detail',array('id'=>$vo['id']))}" class="btn btn-default btn-sm">浏览</a></td>
                                        </tr>
                                        {/volist}
                                    </table>
                                </div>
                                <div class="fr">
                                    {$list->render()}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
