<div class="sidebar2">
    <ul>
        <li><a class="homelink"><i class="fa fa-home"></i><span>HOME</span></a></li>
        <li><a href="{:url('agent/lst')}"><i class="fa fa-list"></i><span>代理商列表</span></a></li>
        <li><a href="{:url('agent/add')}"><i class="fa fa-plus"></i><span>代理商添加</span></a></li>
        <li><a href="{:url('file/lst',array('ctr'=>'Agent'))}"><i class="fa fa-file-word-o"></i><span>加盟文档</span></a></li>
        <li><a href="{:url('agent_pay/lst')}"><i class="fa fa-money"></i><span>订单列表</span></a></li>
        <li><a href="{:url('agent_buy/lst')}"><i class="fa fa-cny"></i><span>消费记录</span></a></li>
        <li><a href="{:url('member/lst',array('ctr'=>'Agent'))}"><i class="fa fa-users"></i><span>代理会员</span></a></li>
        <li><a href="#"><i class="fa fa-cog"></i><span>官网设置</span></a></li>
        <li><a href="#"><i class="fa fa-list"></i><span>新闻动态</span></a></li>
        <li><a href="#"><i class="fa fa-list"></i><span>个人站点</span></a></li>
        <li><a href="#"><i class="fa fa-list"></i><span>客服系统</span></a></li>
    </ul>
    <div class="logout">
        <img src="__ADMIN__/images/logo-eg.jpg" alt="用户头像">
        <a class="logoutfunc" href="{:url('admin/logout2')}"><span>退出登录</span></a>
    </div>
</div>
<div class="page-summary">
    <div class="userinfo">
        <img src="__ADMIN__/images/logo-eg.jpg" alt="">
        <a class="logoutfunc" href="{:url('admin/logout2')}"><span>{$Request.session.username}<small>退出登录</small></span></a>
    </div>
    <div class="summary">
        <h2>SUMMARY</h2>
        <div class="summary-count">
            <dl>
                <dt>{$menu.agentsum}</dt>
                <dd>代理数</dd>
            </dl>
            <dl>
                <dt>{$menu.agentsum2}</dt>
                <dd>付费数</dd>
            </dl>
        </div>
        <div class="summary-count">
            <dl>
                <dt>{$menu.allpay}</dt>
                <dd>代理总充值</dd>
            </dl>
            <dl>
                <dt>{if condition="$menu.today_pay eq 0"}0{else/}{$menu.today_pay}{/if}</dt>
                <dd>今日充值</dd>
            </dl>
        </div>
        <div class="summary-balance">
            <dl>
                <dt>{if condition="$menu.agent_member_sum eq 0"}0{else/}{$menu.agent_member_sum}{/if}</dt>
                <dd>代理总会员数</dd>
            </dl>
        </div>
        <div class="scount">
            <div class="heartgroup">
                <i class="fa fa-heart"></i>
                <i class="fa fa-heartbeat"></i>
                <i class="fa fa-heart"></i>
            </div>
            <dl>
                <dt>{if condition="$menu.today_logins eq 0"}0{else/}{$menu.today_logins}{/if}</dt>
                <dd>代理今日登陆</dd>
            </dl>
        </div>
        <div class="percentage">
            <h2>代理平台销售比</h2>
            <h2>平台销售<div class="layui-progress">
  <div class="layui-progress-bar layui-bg-green" lay-percent="{$menu.company_mem_per}%"></div>
</div></h2>
            <h2>代理销售<div class="layui-progress">
  <div class="layui-progress-bar layui-bg-orange" lay-percent="{$menu.agent_mem_per}%"></div>
</div></h2>
        </div>
    </div>
</div>
