<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>后台</title>
    {include file='public/meta'/}
</head>

<body>
    <div class="wrapper">
        <div class="innerpage pageheight">
            <div class="wrapper container-fluid pageheight">
                {include file='agent/menu'/}
                <div class="page-content">
                    <div class="bread">
                        <i class="icon-home"></i>
                        <a href="#" class="homelink">首页</a> > 文档列表
                    </div>
                    <div class="body">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h2 class="panel-title">文档列表 {if condition="$ctr eq 'Agent'"}<a href="{:url('file/upload',array('ctr'=>$ctr))}" class="btn btn-info btn-xs">添加</a>{else/}<a href="{:url('file/upload')}" class="btn btn-info btn-xs">添加</a>{/if}</h2>
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-hover text-center">
                                        <tr>
                                            <th width='45px'>id</th>
                                            <th><a href="{:url('lst',array('fld'=>'id','way'=>'desc'))}">文件标题</a></th>
                                            <th width='140px'>操作</th>
                                        </tr>
                                       {volist name='list' id='vo'}
                                        <tr>
                                            <td>{$vo.id}</td>
                                            <td>{$vo.filename}</td>
                                            <td><a href="{:url('file/download',array('id'=>$vo['id']))}" class="btn btn-primary btn-sm">下载</a>
                                                <a href="{:url('file/del',array('ctr'=>$Request.controller,'id'=>$vo['id']))}" class="btn btn-danger btn-sm">删除</a></td>
                                        </tr>
                                       {/volist}
                                    </table>
                                </div>
                                <div class="fr">
                                    {$list->render()}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
