<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Dashboard</title>
    {include file='public/meta' /}
</head>

<body>
    {include file='public/loading' /} {include file='public/navbar2'/}
    <div class="main-container container-fluid">
        <div class="page-container">
            {include file='public/usermenu' /}
            <div class="page-content">
                <div class="page-breadcrumbs">
                    <ul class="breadcrumb">
                        <li>
                            <i class="fa fa-home"></i>
                            <a href="{:url('index/index')}">Home</a>
                        </li>
                        <li class="active">用户添加</li>
                    </ul>
                    <div class="header-buttons">
                        <a class="sidebar-toggler" href="#">
                            <i class="fa fa-arrows-h"></i>
                        </a>
                        <a class="refresh" id="refresh-toggler" href="">
                            <i class="glyphicon glyphicon-refresh"></i>
                        </a>
                        <a class="fullscreen" id="fullscreen-toggler" href="#">
                            <i class="glyphicon glyphicon-fullscreen"></i>
                        </a>
                    </div>
                </div>
                <!-- Page Body -->
                <div class="page-body">
                    <div class="row">
                        <div class="col-lg-12 col-sm-12 col-xs-12">
                            <div class="widget">
                                <div class="widget-header bordered-bottom bordered-blue"><span class="widget-caption">用户添加</span></div>
                                <div class="widget-body">
                                    <div id="horizontal-form">
                                        <form class="form-horizontal" role="form" action="" method="post">
                                            <div class="form-group">
                                                <label for="group_id" class="col-sm-2 control-label no-padding-right">网站类型</label>
                                                <div class="col-sm-6">
                                                    <div class="radio" style="float:left;margin-right:10px">
                                                        <label>
                                                            <input checked="" name="type" value="1" type="radio"> <span class="text">全能型</span></label>
                                                    </div>
                                                    <div class="radio" style="float:left;margin-right:10px">
                                                        <label>
                                                            <input name="type" class="inverted" value="2" type="radio"> <span class="text">展示型</span></label>
                                                    </div>
                                                    <div class="radio" style="float:left;margin-right:10px">
                                                        <label>
                                                            <input name="type" class="inverted" value="3" type="radio"> <span class="text">商城型</span></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="username" class="col-sm-2 control-label no-padding-right">用户账号</label>
                                                <div class="col-sm-3">
                                                    <input class="form-control" placeholder="" name="catename" type="text">
                                                </div>
                                                <p class="help-block col-sm-4 red">* 必填</p>
                                            </div>
                                            <div class="form-group">
                                                <label for="username" class="col-sm-2 control-label no-padding-right">密码</label>
                                                <div class="col-sm-3">
                                                    <input class="form-control" placeholder="" name="catename" type="text">
                                                </div>
                                                <p class="help-block col-sm-4 red">* 必填</p>
                                            </div><div class="form-group">
                                                <label for="username" class="col-sm-2 control-label no-padding-right">确认密码</label>
                                                <div class="col-sm-3">
                                                    <input class="form-control" placeholder="" name="catename" type="text">
                                                </div>
                                                <p class="help-block col-sm-4 red">* 必填</p>
                                            </div><div class="form-group">
                                                <label for="username" class="col-sm-2 control-label no-padding-right">公司名称</label>
                                                <div class="col-sm-3">
                                                    <input class="form-control" placeholder="" name="catename" type="text">
                                                </div>
                                                <p class="help-block col-sm-4 red">* 必填</p>
                                            </div><div class="form-group">
                                                <label for="username" class="col-sm-2 control-label no-padding-right">联系人</label>
                                                <div class="col-sm-3">
                                                    <input class="form-control" placeholder="" name="catename" type="text">
                                                </div>
                                                
                                            </div><div class="form-group">
                                                <label for="username" class="col-sm-2 control-label no-padding-right">手机</label>
                                                <div class="col-sm-3">
                                                    <input class="form-control" placeholder="" name="catename" type="text">
                                                </div>
                                                
                                            </div><div class="form-group">
                                                <label for="username" class="col-sm-2 control-label no-padding-right">座机</label>
                                                <div class="col-sm-3">
                                                    <input class="form-control" placeholder="" name="catename" type="text">
                                                </div>
                                                
                                            </div><div class="form-group">
                                                <label for="username" class="col-sm-2 control-label no-padding-right">QQ</label>
                                                <div class="col-sm-3">
                                                    <input class="form-control" placeholder="" name="catename" type="text">
                                                </div>
                                                
                                            </div><div class="form-group">
                                                <label for="username" class="col-sm-2 control-label no-padding-right">wechat</label>
                                                <div class="col-sm-3">
                                                    <input class="form-control" placeholder="" name="catename" type="text">
                                                </div>
                                                
                                            </div><div class="form-group">
                                                <label for="username" class="col-sm-2 control-label no-padding-right">其他聊天软件</label>
                                                <div class="col-sm-3">
                                                    <input class="form-control" placeholder="" name="catename" type="text">
                                                </div>
                                                
                                            </div><div class="form-group">
                                                <label for="username" class="col-sm-2 control-label no-padding-right">公司地址</label>
                                                <div class="col-sm-3">
                                                    <input class="form-control" placeholder="" name="catename" type="text">
                                                </div>
                                                
                                            </div><div class="form-group">
                                                <label for="username" class="col-sm-2 control-label no-padding-right">电子邮箱</label>
                                                <div class="col-sm-3">
                                                    <input class="form-control" placeholder="" name="catename" type="text">
                                                </div>
                                                
                                            </div>
                                           
                                         
                                            <div class="form-group">
                                                <div class="col-sm-offset-2 col-sm-10">
                                                    <button type="submit" class="btn btn-default">保存信息</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Page Body -->
            </div>
        </div>
    </div>
    {include file='public/footer' /}
</body>
<!--  /Body -->

</html>
