<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>后台 - {$conf.sitename}</title>
    {include file='public/meta'/}
</head>

<body>
    <!--div id="loading-mask">
        <div class="animation">
            <div></div>
        </div>
        <div class="logo"><img src="__MEMBER__/images/preloader_hires.png" alt="" /></div>
    </div>
    <div id="loader" class="gradient">
        <div class="sphere"><img src="__MEMBER__/images/1x1.gif" alt="" /></div>
    </div-->
    <div class="wrapper indexwrapper">
        <div class="row index">
           {include file='index/menu'/}
            <div class="main col-md-8 pageheight">
                <div class="fullpage">
                    <div class="section">
                        <div class="heading">
                            <h2>代理商列表</h2>
                            <p>账户信息主要是账户的基本信息展示，主要包括用户名，密码等的设置，修改。账户信息主要是账户的基本信息展示，主要包括用户名，密码等的设置，修改。</p>
                        </div>
                        <div class="imgbox"><img src="__MEMBER__/images/list1-1.jpg" alt=""></div>
                    </div>
                    <div class="section">
                        <div class="heading">
                            <h2>代理商添加</h2>
                            <p>代理商添加文字描述...</p>
                        </div>
                        <div class="imgbox"><img src="__MEMBER__/images/list1-2.jpg" alt=""></div>
                    </div>
                    <div class="section">
                        <div class="heading">
                            <h2>加盟文档</h2>
                            <p>加盟文档文字描述...</p>
                        </div>
                        <div class="imgbox"><img src="__MEMBER__/images/list1-3.jpg" alt=""></div>
                    </div>
                    <div class="section">
                        <div class="heading">
                            <h2>订单列表</h2>
                            <p>订单列表文字描述...</p>
                        </div>
                        <div class="imgbox"><img src="__MEMBER__/images/list1-4.jpg" alt=""></div>
                    </div>
                    <div class="section">
                        <div class="heading">
                            <h2>消费记录</h2>
                            <p>消费记录文字描述...</p>
                        </div>
                        <div class="imgbox"><img src="__MEMBER__/images/list1-5.jpg" alt=""></div>
                    </div>
                    <div class="section">
                        <div class="heading">
                            <h2>代理个人站点</h2>
                            <p>代理个人站点文字描述...</p>
                        </div>
                        <div class="imgbox"><img src="__MEMBER__/images/list1-1.jpg" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--js文件-->
    {include file='public/footer'/}
    <!--页面加载效果-->
    <script type='text/javascript' src='__MEMBER__/js/logo-plugins.js'></script>
    <script type='text/javascript' src='__MEMBER__/js/loading.js'></script>
    <!--页面加载效果 end-->

    <script>
    //二级栏目点击效果，使用layer插件
    $(function() {
        $(".submenu li a").click(function() {
            layer.open({
                type: 2,
                offset: [0, '27%'],
                title: false,
                closeBtn: 0,
                skin: 'dpage',
                area: ['auto', $(window).height()],
                fixed: false,
                maxmin: true,
                content: $(this).attr('href')
            });
            return false;
        });
        //对应的右边图片点击效果
        $(".section img").click(function() {
            var i=$(this).parents('.section').index();
            layer.open({
                type: 2,
                offset: [0, '27%'],
                title: false,
                closeBtn: 0,
                skin: 'dpage',
                area: ['auto', $(window).height()],
                fixed: false,
                maxmin: true,
                content: $(".submenu li").eq(i).find('a').attr('href')
            });
        });
        
    });
    </script>
    <script>
    //右侧的全屏滚动
    $(function() {
        $('.fullpage').fullpage({
            'navigation': true,
        });
    });
    //右侧的导航
    $(function() {
        $("#fp-nav li").each(function(i) {
            $(this).append("<div class='fpnum'>" + (i + 1) + "0</div>");
        });
    });
    </script>
    <script>
    //二级菜单滚动条美化
    $('.submenu').niceScroll({
        cursorcolor: "#ccc", //#CC0071 光标颜色
        cursoropacitymax: 1, //改变不透明度非常光标处于活动状态（scrollabar“可见”状态），范围从1到0
        touchbehavior: false, //使光标拖动滚动像在台式电脑触摸设备
        cursorwidth: "5px", //像素光标的宽度
        cursorborder: "0", // 游标边框css定义
        cursorborderradius: "5px", //以像素为光标边界半径
        autohidemode: true //是否隐藏滚动条
    });
    $(".submenu").getNiceScroll().hide();
    </script>
</body>

</html>
