<div class="sidebar col-md-2 pageheight">
    <div class="logo">
        <a href="index/index"><img src="__MEMBER__/images/logo.png" alt="logo"></a>
    </div>
    <ul class="menu">
        <li class="open">
            <a href="{:url('index/index')}">内容管理</a>
            <div class="submenu pageheight">
                <ul>
                     <li>
                        <a href="{:url('member_cate/lst')}">
                            <span class="title"><i class="fa fa-list"></i>选择模板</span>
                            <p>账户信息主要是账户的基本信息展示，主要包括用户名，密码等的设置，修改。账户信息主要是账户的基本信息展示，主要包括用户名，密码等的设置，修改。</p>
                        </a>
                    </li>
                     <li>
                        <a href="{:url('member_cate/lst')}">
                            <span class="title"><i class="fa fa-pencil"></i>编辑模板</span>
                            <p>账户信息主要是账户的基本信息展示，主要包括用户名，密码等的设置，修改。账户信息主要是账户的基本信息展示，主要包括用户名，密码等的设置，修改。</p>
                        </a>
                    </li>
                    <li>
                        <a href="{:url('member_cate/lst')}">
                            <span class="title"><i class="fa fa-list"></i>栏目列表</span>
                            <p>账户信息主要是账户的基本信息展示，主要包括用户名，密码等的设置，修改。账户信息主要是账户的基本信息展示，主要包括用户名，密码等的设置，修改。</p>
                        </a>
                    </li>
                    <li><a href="{:url('member_cate/add')}"><span class="title"><i class="fa fa-plus"></i>栏目添加</span><p>描述文字...</p></a></li>
                    <li><a href="{:url('member_article/lst')}"><span class="title"><i class="fa fa-list"></i>文章列表</span><p>描述文字...</p></a></li>
                    <li><a href="{:url('member_article/add')}"><span class="title"><i class="fa fa-plus"></i>添加文章</span><p>描述文字...</p></a></li>
                </ul>
            </div>
        </li>
        <li>
            <a href="{:url('index/index')}">财务管理</a>
            <div class="submenu pageheight">
                <ul>
                    <li><a href="{:url('member_pay/pay')}"><span class="title"><i class="fa fa-money"></i>在线充值</span><p>描述文字...</p></a></li>
                    <li>
                        <a href="{:url('member_pay/orderlst')}">
                            <span class="title"><i class="fa fa-list"></i>订单列表</span>
                            <p>账户信息主要是账户的基本信息展示，主要包括用户名，密码等的设置，修改。账户信息主要是账户的基本信息展示，主要包括用户名，密码等的设置，修改。</p>
                        </a>
                    </li>
                    <li><a href="{:url('member_buy/buylst')}"><span class="title"><i class="fa fa-file-text-o"></i>购买记录</span><p>描述文字...</p></a></li>
                    <li><a href="{:url('member_pay/paylst')}"><span class="title"><i class="fa fa-file-text-o"></i>充值记录</span><p>描述文字...</p></a></li>
                </ul>
            </div>
        </li>
        <li><a href="#">管理员</a>
            <div class="submenu pageheight">
                <ul>
                    <li>
                        <a href="{:url('member_admin/lst')}">
                            <span class="title"><i class="fa fa-users"></i>管理列表</span>
                            <p>会员列表说明...</p>
                        </a>
                    </li>
                    <li>
                        <a href="{:url('auth_groupm/lst')}">
                            <span class="title"><i class="fa fa-users"></i>用户组列表</span>
                            <p>会员列表说明...</p>
                        </a>
                    </li>
                    <li>
                        <a href="{:url('auth_rulem/lst')}">
                            <span class="title"><i class="fa fa-users"></i>权限列表</span>
                            <p>会员列表说明...</p>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li><a href="#">系统设置</a>
            <div class="submenu pageheight">
                <ul>
                    <li>
                        <a href="{:url('member_conf/conf')}">
                            <span class="title"><i class="fa fa-users"></i>配置前台列表</span>
                            <p>会员列表说明...</p>
                        </a>
                    </li>
                    <li>
                        <a href="{:url('member_conf/lst')}">
                            <span class="title"><i class="fa fa-users"></i>配置后台列表</span>
                            <p>会员列表说明...</p>
                        </a>
                    </li>
                    <li>
                        <a href="{:url('member_conf/add')}">
                            <span class="title"><i class="fa fa-users"></i>添加配置后台</span>
                            <p>会员列表说明...</p>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li><a href="{:url('admin/logout')}">退出登录</a></li>
    </ul>
</div>
