<div class="page-sidebar menu-compact" id="sidebar">
    <ul class="nav sidebar-menu">
        <li class="active">
            <a href="{:url('index/index')}">
                <i class="menu-icon glyphicon glyphicon-home"></i>
                <span class="menu-text"> 控制台 </span>
            </a>
        </li>
        <li>
            <a href="{:url('detail')}">
                <i class="menu-icon fa fa-info"></i>
                <span class="menu-text">账户信息</span>
            </a>
        </li>
         <li>
            <a href="{:url('files')}">
                <i class="menu-icon fa fa-file"></i>
                <span class="menu-text">代理资料</span>
            </a>
        </li>
        <li>
            <a href="{:url('pay')}">
                <i class="menu-icon fa fa-money"></i>
                <span class="menu-text">款项充值</span>
            </a>
        </li>
        <li>
            <a href="{:url('record')}">
                <i class="menu-icon fa fa-file"></i>
                <span class="menu-text">充值记录</span>
            </a>
        </li>
        <li>
            <a href="{:url('edit')}">
                <i class="menu-icon fa fa-file"></i>
                <span class="menu-text">账号修改</span>
            </a>
        </li>
       
    </ul>
</div>
