<meta name="description" content="Dashboard" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="shortcut icon" href="__ADMIN__/img/favicon.png" type="image/x-icon">
<!--Basic Styles-->
<link href="__ADMIN__/css/bootstrap.min.css" rel="stylesheet" />
<link id="bootstrap-rtl-link" href="" rel="stylesheet" />
<link href="__ADMIN__/css/font-awesome.min.css" rel="stylesheet" />
<link href="__ADMIN__/css/weather-icons.min.css" rel="stylesheet" />
<!--Fonts-->
<link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300" rel="stylesheet" type="text/css">
<!--Beyond styles-->
<link id="beyond-link" href="__ADMIN__/css/beyond.min.css" rel="stylesheet" type="text/css" />
<link href="__ADMIN__/css/demo.min.css" rel="stylesheet" />
<link href="__ADMIN__/css/typicons.min.css" rel="stylesheet" />
<link href="__ADMIN__/css/animate.min.css" rel="stylesheet" />
<link id="skin-link" href="__ADMIN__/css/starwood.css" rel="stylesheet" type="text/css" />
<!--Skin Script: Place this script in head to load scripts for skins and rtl support-->
<script src="__ADMIN__/js/skins.min.js"></script>
