<div class="page-sidebar menu-compact" id="sidebar">
    <ul class="nav sidebar-menu">
        <li class="active">
            <a href="{:url('index/index')}">
                <i class="menu-icon glyphicon glyphicon-home"></i>
                <span class="menu-text"> 控制台 </span>
            </a>
        </li>
        <li>
            <a href="{:url('lst')}">
                <i class="menu-icon fa fa-list"></i>
                <span class="menu-text">发布列表</span>
            </a>
        </li>
         <li>
            <a href="{:url('add')}">
                <i class="menu-icon fa fa-plus"></i>
                <span class="menu-text">添加新闻</span>
            </a>
        </li>
        <li>
            <a href="{:url('sourcelst')}">
                <i class="menu-icon fa fa-list"></i>
                <span class="menu-text">新闻源平台</span>
            </a>
        </li>
        <li>
            <a href="{:url('orderlst')}">
                <i class="menu-icon fa fa-list"></i>
                <span class="menu-text">订单列表</span>
            </a>
        </li>
       
    </ul>
</div>
