<div class="page-sidebar menu-compact" id="sidebar">
    <ul class="nav sidebar-menu">
        <li class="active">
            <a href="{:url('index/index')}">
                <i class="menu-icon glyphicon glyphicon-home"></i>
                <span class="menu-text"> 控制台 </span>
            </a>
        </li>
        <li>
            <a href="{:url('lst')}">
                <i class="menu-icon fa fa-list"></i>
                <span class="menu-text">用户列表</span>
            </a>
        </li>
        <li>
            <a href="{:url('add')}">
                <i class="menu-icon fa fa-plus"></i>
                <span class="menu-text">用户添加</span>
            </a>
        </li>
        <li>
            <a href="{:url('orderlst')}">
                <i class="menu-icon fa fa-money"></i>
                <span class="menu-text">用户订单列表</span>
            </a>
        </li>
         <li>
            <a href="{:url('copy')}">
                <i class="menu-icon fa fa-copy"></i>
                <span class="menu-text">复制客户网站</span>
            </a>
        </li>
    </ul>
</div>
