<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Dashboard</title>
    {include file='public/meta' /}
</head>

<body>
    {include file='public/loading' /} {include file='public/navbar2'/}
    <div class="main-container container-fluid">
        <div class="page-container">
            {include file='public/sourcemenu' /}
            <div class="page-content">
                <div class="page-breadcrumbs">
                    <ul class="breadcrumb">
                        <li>
                            <i class="fa fa-home"></i>
                            <a href="{:url('index/index')}">Home</a>
                        </li>
                        <li class="active">新闻源列表</li>
                    </ul>
                    <div class="header-buttons">
                        <a class="sidebar-toggler" href="#">
                            <i class="fa fa-arrows-h"></i>
                        </a>
                        <a class="refresh" id="refresh-toggler" href="">
                            <i class="glyphicon glyphicon-refresh"></i>
                        </a>
                        <a class="fullscreen" id="fullscreen-toggler" href="#">
                            <i class="glyphicon glyphicon-fullscreen"></i>
                        </a>
                    </div>
                </div>
                <!-- Page Body -->
                <div class="page-body">
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            <div class="well with-header with-footer">
                                <div class="header bg-palegreen">新闻源列表</div>
                                <table class="table table-hover table-striped table-bordered">
                                    <thead class="bordered-blueberry">
                                        <tr>
                                            <th>ID</th>
                                            <th>媒体分类</th>
                                            <th>媒体名称</th>
                                            <th>入口类型</th>
                                            <th>市场价格</th>
                                            <th>皇冠代理价格</th>
                                            <th>钻石代理价格</th>
                                            <th>链接分类</th>
                                            <th>备注</th>
                                            <th>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>新闻资讯</td>
                                            <td>新浪网-河北</td>
                                            <td>栏目页面</td>
                                            <td>100元</td>
                                            <td>30元</td>
                                            <td>40元</td>
                                            <td>不带联系方式</td>
                                            <td>此媒体不发医疗类稿件</td>
                                            <td><a href="javascript:void(0);" class="btn btn-primary btn-sm shiny">发布</a></td>
                                        </tr><tr>
                                            <td>1</td>
                                            <td>新闻资讯</td>
                                            <td>新浪网-河北</td>
                                            <td>栏目页面</td>
                                            <td>100元</td>
                                            <td>30元</td>
                                            <td>40元</td>
                                            <td>不带联系方式</td>
                                            <td>此媒体不发医疗类稿件</td>
                                            <td><a href="javascript:void(0);" class="btn btn-primary btn-sm shiny">发布</a></td>
                                        </tr><tr>
                                            <td>1</td>
                                            <td>新闻资讯</td>
                                            <td>新浪网-河北</td>
                                            <td>栏目页面</td>
                                            <td>100元</td>
                                            <td>30元</td>
                                            <td>40元</td>
                                            <td>不带联系方式</td>
                                            <td>此媒体不发医疗类稿件</td>
                                            <td><a href="javascript:void(0);" class="btn btn-primary btn-sm shiny">发布</a></td>
                                        </tr>
                                     
                                    </tbody>
                                </table>
                                <div class="row DTTTFooter">
                                    <div class="col-sm-12">
                                        <div class="dataTables_paginate paging_bootstrap text-right" id="simpledatatable_paginate">
                                            <ul class="pagination">
                                                <li class="prev disabled"><a href="#">Prev</a></li>
                                                <li class="active"><a href="#">1</a></li>
                                                <li><a href="#">2</a></li>
                                                <li><a href="#">3</a></li>
                                                <li><a href="#">4</a></li>
                                                <li><a href="#">5</a></li>
                                                <li class="next"><a href="#">Next</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Page Body -->
            </div>
        </div>
    </div>
    {include file='public/footer' /}
    <script>
    $(window).bind("load", function() {
        InitiateEasyPieChart.init();
        InitiateChartJS.init();
    });
    </script>
</body>
<!--  /Body -->

</html>
