<!-- <footer class="footer">
    <div class="footer_left">
        <div class="footer_logo"><img src="__INDEX__/images/logo.png" alt=""></div>
        <div class="footer_slogan">我们将每个细节做到极致</div>
        <div class="footer_about">starwood是一家设计开发公司
            <br> 设计和用户体验是我们的强项
            <br> 我们针对不同的人群提出了合适他们的套餐
            <br> 网页,logo，app，微站，互联网宣传，你需要的专业我们都有
            <br> 不仅如此，我们还开通了代理和招商.</div>
        <div class="footer_copyright">
            <span>© 2017 starwood infotech</span>
            <a href="mailto:mail@tubikstudio.com">mail@starwoodinfotech.com</a>
            <a href="callto:+1 650 731 0320">+0853 63000205</a>
        </div>
        <div class="footer_social">
            <a class="soc_dr" target="_blank" href="#"></a>
            <a class="soc_be" target="_blank" href="#"></a>
            <a class="soc_fb" target="_blank" href="#"></a>
            <a class="soc_tw" target="_blank" href="#"></a>
            <a class="soc_in" target="_blank" href="#"></a>
            <a class="soc_gp" target="_blank" href="#"></a>
            <a class="soc_li" target="_blank" href="#"></a>
            <a class="soc_vi" target="_blank" href="#"></a>
            <a class="soc_pi" target="_blank" href="#"></a>
            <a class="soc_tu" target="_blank" href="#"></a>
            <a class="soc_me" target="_blank" href="#"></a>
        </div>
    </div>
    <div class="footer_right">
        <a class="footer_link" href="#">模板中心</a>
        <a class="footer_link" href="#">杂志</a>
        <a class="footer_link" href="#">客户</a>
        <a class="footer_link has_arrow" href="#">博客</a>
        <a class="footer_link has_arrow" href="#">合作</a>
        <div class="clear"></div>
    </div>
</footer> -->
<script src="__INDEX__/js/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="__INDEX__/js/swiper.min.js"></script>
<script src="__INDEX__/js/ThreeBundle.js"></script>
<script src="__INDEX__/js/AnimatedShapes.js"></script>
<script src="__INDEX__/js/app.js"></script>
</div>
