<!--Basic Scripts-->
<script src="__ADMIN__/js/jquery-2.0.3.min.js"></script>
<script src="__ADMIN__/js/jquery.nicescroll.js"></script>
<script src="__ADMIN__/js/app.js"></script>
<!--Beyond Scripts-->
<script src="__ADMIN__/js/beyond.min.js"></script>
<!--Page Related Scripts-->
<!--Sparkline Charts Needed Scripts-->
<script src="__ADMIN__/js/charts/sparkline/jquery.sparkline.js"></script>
<script src="__ADMIN__/js/charts/sparkline/sparkline-init.js"></script>
<!--Easy Pie Charts Needed Scripts-->
<script src="__ADMIN__/js/charts/easypiechart/jquery.easypiechart.js"></script>
<script src="__ADMIN__/js/charts/easypiechart/easypiechart-init.js"></script>
<script src="__ADMIN__/js/charts/chartjs/Chart.js"></script>
<script src="__ADMIN__/js/charts/chartjs/chartjs-init.js"></script>
<!--Flot Charts Needed Scripts-->
<script src="__ADMIN__/js/charts/flot/jquery.flot.js"></script>
<script src="__ADMIN__/js/charts/flot/jquery.flot.resize.js"></script>
<script src="__ADMIN__/js/charts/flot/jquery.flot.pie.js"></script>
<script src="__ADMIN__/js/charts/flot/jquery.flot.tooltip.js"></script>
<script src="__ADMIN__/js/charts/flot/jquery.flot.orderBars.js"></script>
